@import "partials/mixins";
@import "partials/variables";
@import "partials/bootstrap_custom";
@import "vendor/twiddlicon/twiddlicon.scss";


button {
  @extend .btn;
  @extend .btn-default;
}

body {
  font-family: 'Maven Pro', sans-serif;
}

.toolbar {
	box-sizing      : border-box;
	height          : $topbar-height;
	padding-top     : 16px;
	font-size       : $font-size;
	background      : $ember-orange top center;
	background-image: url("../images/navigation_background.png");
	border-bottom   : 1px solid $burnt-orange;
	box-shadow      : rgba(0, 0, 0, $shadow-opacity) 0 0 3px;

  .dropdown {
    &.open .dropdown-toggle {
			text-shadow     : none;
			background-color: $menu-bg;
			box-shadow      : $menu-box-shadow;

			@include trans-border;
    }
  }

  .dropdown-toggle,
  .sign-in {
		height        : $topbar-control-height;
		line-height   : $topbar-control-height - 2;
		text-transform: uppercase;
		font-weight   : bold;
		color         : $bleached-orange;
		text-shadow   : $text-shadow;

		@include trans-border;

    &:hover, &:focus {
			text-shadow     : none;
			background-color: $menu-hover-bg;
    }
  }

  .dropdown-toggle {
    padding: 0 1em;
  }

	.dropdown-submenu:hover > a {
	  background: $dropdown-link-hover-bg;
	  color: $dropdown-link-hover-color;
	}
}

.main-menu {
	float: left;
	//margin-top: ($topbar-height - $topbar-control-height) / 2;
	margin-left: ($topbar-height - $topbar-control-height) / 2;
}

.title {
	width     : 800px;
	margin    : ($topbar-height - $topbar-control-height) / 2 auto;
	margin: 0 auto;
	text-align: center;

  .indicator {
		text-transform: uppercase;
		font-weight   : bold;
		color         : $bleached-orange;
		text-shadow   : $text-shadow;

    a {
			color          : #ffffff;
			text-decoration: none;

      &:hover {
        border-bottom: dotted 1px;
      }
    }
  }

  .input-edit {
		display      : inline-block;
		padding      : 5px 10px;
		transition   : background .3s;
		font-size    : $font-size-larger;
		text-shadow  : $text-shadow;
		border-radius: 3px;
		border       : 0;
		color        : $bleached-orange;
		cursor       : pointer;

    input {
			background-color: transparent;
			border          : 0;
			outline         : 0;
			box-sizing      : content-box;
		}

    .glyphicon {
      color: $bleached-orange;
    }

    &.active .glyphicon {
      display: none;
    }

    &:hover {
      text-shadow: none;
      background-color: $menu-hover-bg;
    }

    &.active {
			text-shadow     : none;
			background-color: $menu-bg;
			outline         : 0;
			box-shadow      : $menu-box-shadow;
    }
	}      
}

.user-menu {
	float       : right;
	//padding-top  : ($topbar-height - $topbar-control-height) / 2;
	padding-right: ($topbar-height - $topbar-control-height) / 2;

  .user-avatar {
		display      : inline-block;
		width        : $topbar-control-height;
		height       : $topbar-control-height;
		overflow     : hidden;
		float        : left;
		margin-right : 10px;
		line-height  : normal;
		border-radius: 3px;

    img {
      width: $topbar-control-height;
      height: $topbar-control-height;
    }

    &.unauthenticated {
    	background: url("../images/github32-inverse-faf2ee.svg");
    }
  }

	.sign-in {
	  cursor: pointer;
		padding : 0px 1em;
	}

	.signing-in {
		padding       : 0px 1em;
		height        : $topbar-control-height;
		line-height   : $topbar-control-height - 2;
		text-transform: uppercase;
		font-weight   : bold;
		color         : $bleached-orange;
		text-shadow   : $text-shadow;

	  @include trans-border;
	}
}

.twiddle-panes {
	display              : -webkit-box;
	display              : -webkit-flex;
	display              : -ms-flexbox;
	display              : flex;
	-webkit-flex-flow    : row wrap;
	-ms-flex-flow        : row wrap;
	flex-flow            : row wrap;
	-webkit-box-align    : stretch;
	-webkit-align-items  : stretch;
	-ms-flex-align       : stretch;
	align-items          : stretch;
	-webkit-align-content: stretch;
	-ms-flex-line-pack   : stretch;
	align-content        : stretch;
}

.pane {
	-webkit-box-flex       : 1;
	-webkit-flex           : 1;
	-ms-flex               : 1;
	flex                   : 1;
	-webkit-flex-basis     : 33.33333%;
	-ms-flex-preferred-size: 33.33333%;
	flex-basis             : 33.33333%;
	-webkit-box-orient     : vertical;
	-webkit-box-direction  : normal;
	-webkit-flex-direction : column;
	-ms-flex-direction     : column;
	flex-direction         : column;
	height                 : -moz-calc(100vh - #{$code-pad});
	height                 : -webkit-calc(100vh - #{$code-pad});
	height                 : -o-calc(100vh - #{$code-pad});
	height                 : calc(100vh - #{$code-pad});
	position               : relative;
	border-right           : 1px solid $grey-3;
}

.header {
	position        : relative;
	display         : -webkit-box;
	display         : -webkit-flex;
	display         : -ms-flexbox;
	display         : flex;
	width           : 100%;
	height          : $code-header-height;
	border-bottom   : 1px solid $grey-3;
	font-size       : $font-size-larger;
	background-color: $grey-1;

  .nav-left {
    position: absolute;
    top: 18px;
    left: 15px;
  }

  .file-picker {
		margin-left  : 15px;
		margin-top   : 8px;
		margin-bottom: 0;
  }

  .nav-left + .file-picker {
    margin-left: 30px;
  }

  .nav-right {
    position: absolute;
    top: 20px;
    right: 15px;
  }

  .glyphicon {
    font-size: 0.8em;
  }

  .twiddlicon {
    font-size: 1em;
  }

  .glyphicon,
  .twiddlicon {
		text-align : center;
		color      : $header-icon-color;
		text-shadow: $icon-shadow;
		cursor     : pointer;
		padding    : 2px;
  }

  .twiddlicon:hover,
  .glyphicon:hover {
		color           : $grey-1;
		background-color: $icon-bg;
		border-radius   : 20%;
		padding         : 2px;
		text-shadow     : $icon-shadow-hover;
  }

  .glyphicon-plus,
  .glyphicon-plus:hover {
		padding-bottom: 3px;
		padding-left  : 3px;
  }
}

.code {
	max-width: 33.33333%;
	
  .CodeMirror,
  .header ul {
		opacity   : .3;
		transition: opacity .3s;
  }

  &.active .CodeMirror,
  &.active .header ul {
    opacity: 1;
  }

  .CodeMirror {
		position   : absolute;
		top        : $code-header-height;
		right      : 0;
		bottom     : 0;
		left       : 0;
		font-family: Monaco, monospace;
		font-size  : $font-size;
		line-height: 1.6;
		height     : 100%;
		width      : 100%;
  }

}

.output {
	-webkit-box-flex: 1;
	-webkit-flex    : 1;
	-ms-flex        : 1;
	flex            : 1;
	width           : auto;
	min-width       : 33.33333%;

  .build-msgs {
		margin : 18px 25px;
		display: inline-block;
  }
  
	.run-or-live-reload {
		position  : absolute;
		right     : 0;
		top       : 8px;
		margin    : 10px 25px;
		text-align: right;
	}

	.url-bar {
		box-sizing   : content-box;
		height       : $url-bar-height;
		padding      : $url-bar-padding;
		background   : $grey-2;
		border-bottom: 1px solid $grey-4;
	}
	.url-bar > input {
		box-sizing: border-box;
		display   : block;
		width     : 100%;
		padding   : 3px;
		background: #fff;
		border    : 1px solid $grey-4;
	}

	.run-now {
		margin-left: 10px;
		padding    : 1px 6px 3px;
	}

  .content {
		border  : 0;

    iframe {
			border: 0;
			width : 100%;
			height: -moz-calc(100vh - #{$content-pad});
			height: -webkit-calc(100vh - #{$content-pad});
			height: -o-calc(100vh - #{$content-pad});
			height: calc(100vh - #{$content-pad});
    }
  }
}

.handle {
	position        : relative;
	z-index         : 1000;
	width           : 3px;
	margin-left     : -3px;
	background-color: transparent;

	&:hover {
		background-color: $grey-4;
	}
}


// #demo-app {
//   position: absolute;
//   z-index: -1;
// }

/*
.light-gray {
  color: $grey-5;
}

.yellow {
  color: #ffcc00;
}

.flip-horizontal {
  transform: scale(-1, 1);
}

.toolbar {
	height          : $topbar-height;
	font-size       : $font-size;
	background      : $ember-orange top center;
	background-image: url("../images/navigation_background.png");
	border-bottom   : 1px solid $burnt-orange;

  @include vendor(box-shadow, rgba(0, 0, 0, $shadow-opacity) 0 0 3px);

  .user-menu {
		position  : absolute;
		right     : ($topbar-height - $topbar-control-height) / 2;
		top       : ($topbar-height - $topbar-control-height) / 2;
		text-align: right;

    .user-avatar {
			display      : inline-block;
			width        : $topbar-control-height;
			height       : $topbar-control-height;
			overflow     : hidden;
			float        : left;
			margin-right : 10px;
			line-height  : normal;
			border-radius: 3px;

      img {
        width: $topbar-control-height;
        height: $topbar-control-height;
      }

      &.unauthenticated {
      	background: url("../images/github32-inverse-faf2ee.svg");
      }
    }
  }

  .file-menu {
		position  : absolute;
		left      : ($topbar-height - $topbar-control-height) / 2;
		top       : ($topbar-height - $topbar-control-height) / 2;
		text-align: left;
  }

  .title {
		width     : 800px;
		margin    : 13px auto;
		text-align: center;

    .saved-twiddles-header {
			color    : $bleached-orange;
			font-size: $font-size-larger;
    }

    .indicator {
			text-transform: uppercase;
			font-weight   : bold;
			color         : $bleached-orange;
			text-shadow   : $text-shadow;

      a {
        color: #ffffff;
        text-decoration: none;
        &:hover {
          border-bottom: dotted 1px;
        }
      }
    }

    .input-edit {
			display      : inline-block;
			padding      : 5px 10px;
			transition   : background .3s;
			font-size    : $font-size-larger;
			text-shadow  : $text-shadow;
			border-radius: 3px;
			border       : 0;
			color        : $bleached-orange;
			cursor       : pointer;

      input {
				background-color: transparent;
				border          : 0;
				outline         : 0;
				box-sizing      : content-box;
      }

      .glyphicon {
        color: $bleached-orange;
      }

      &.active .glyphicon {
        display: none;
      }

      &:hover {
        text-shadow: none;
        background-color: $menu-hover-bg;
      }

      &.active {
				text-shadow     : none;
				background-color: $menu-bg;
				outline         : 0;

				@include vendor(box-shadow, $menu-box-shadow);
      }
    }

    .gist-link, span {
      display: inline-block;
    }

  }

  .dropdown {

    &.open .dropdown-toggle {
			text-shadow     : none;
			background-color: $menu-bg;

			@include trans-border;
			@include vendor(box-shadow, $menu-box-shadow);
    }
  }

  .dropdown-toggle, .sign-in {
		height        : $topbar-control-height;
		line-height   : $topbar-control-height - 2;
		text-transform: uppercase;
		font-weight   : bold;
		color         : $bleached-orange;
		text-shadow   : $text-shadow;

		@include trans-border;

    &:hover, &:focus {
      text-shadow: none;
      background-color: $menu-hover-bg;
    }
  }

  .dropdown-toggle {
    padding: 0 1em;
  }

  .sign-in {
    cursor: pointer;
    padding: 0 .5em;
  }

  .signing-in {
    padding: 0px 1em;
		height        : $topbar-control-height;
		line-height   : $topbar-control-height - 2;
		text-transform: uppercase;
		font-weight   : bold;
		color         : $bleached-orange;
		text-shadow   : $text-shadow;

    @include trans-border;
  }

}

.code {
  .CodeMirror, .header ul {
		opacity   : .3;
		transition: opacity .3s;
  }

  &.active .CodeMirror, &.active .header ul {
    opacity: 1;
  }

  .CodeMirror {
		font-family: Monaco, monospace;
		font-size  : $font-size;
		line-height: 1.6;
		height     : 100%;
		width      : 100%;
		position   : absolute;

    @media (min-width: $screen-md-min) {
			height: auto;
			top   : 60px;
			bottom: 0;
    }
  }
}



// .col-md-4 {
// 	-webkit-flex: 0.5;
// 	flex        : 0.5;
// 	padding     : 0;
// 	height      : 100%;
// 	border-right: 1px solid $grey-3;
// 	cursor      : normal;

//   @media (max-width: $screen-md-min) {
//     margin-bottom: 60px;
//   }
// }

// .handle {
// 	width           : 3px;
// 	background-color: transparent;
// 	position        : relative;
// 	left            : -2px;

//   @media (min-width: $screen-md-min) {
//     height: 100%;
//   }
// }

// .handle + .col-md-4 {
//   margin-left: -3px;
// }

// .output {
//   border-right: none;
//   position: relative;

//   span {
//     margin: 16px 25px;
//     display: inline-block;
//   }

//   .content {
//     position: absolute;
//     top: 100px;
//     bottom: 0;
//     width: 100%;
//     border: 0;

//     iframe {
//       border: 0;
//       width: 100%;
//       height: 100%;
//       position: absolute;
//     }
//   }

//   span.glyphicon-plus {
//     cursor: pointer;
//   }
// }

.header {
	height          : $code-header-height;
	border-bottom   : 1px solid $grey-3;
	font-size       : $font-size-larger;
	background-color: $grey-1;
	position        : relative;

  .nav-left {
    position: absolute;
    top: 18px;
    left: 15px;
  }

  .file-picker {
		margin-left  : 15px;
		margin-top   : 8px;
		margin-bottom: 0;
		position     : absolute;
  }

  .nav-left+.file-picker {
    margin-left: 30px;
  }

  .nav-right {
    position: absolute;
    top: 20px;
    right: 15px;
  }

  .glyphicon {
    font-size: 0.8em;
  }

  .twiddlicon {
    font-size: 1em;
  }

  .glyphicon,
  .twiddlicon {
		text-align : center;
		color      : $header-icon-color;
		text-shadow: $icon-shadow;
		cursor     : pointer;
		padding    : 2px;
  }

  .twiddlicon:hover,
  .glyphicon:hover {
		color           : $grey-1;
		background-color: $icon-bg;
		border-radius   : 20%;
		padding         : 2px;
		text-shadow     : $icon-shadow-hover;
  }

  .glyphicon-plus,
  .glyphicon-plus:hover {
    padding-bottom: 3px;
    padding-left: 3px;
  }
}

.full-screen {
  .header {
    display: none;
  }

  .run-or-live-reload {
    display: none;
  }
}

.exit-full-screen-link {
	display    : block;
	position   : absolute;
	bottom     : 20px;
	left       : 50%;
	width      : 100px;
	margin-left: -50px;
	text-align : center;
	color      : $dropdown-link-color;
	cursor     : pointer;
}

.dropdown {
  li {
    cursor: pointer;
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
	top        : 0;
	left       : 100%;
	margin-top : -6px;
	margin-left: -1px;
  
  @include vendor(border-radius, 0 6px 6px 6px);
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
	display          : block;
	content          : " ";
	float            : right;
	width            : 0;
	height           : 0;
	border-color     : transparent;
	border-style     : solid;
	border-width     : 5px 0 5px 5px;
	border-left-color: $grey-5;
	margin-top       : 5px;
	margin-right     : -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;

  @include vendor(border-radius, 6px 0 6px 6px);
}

.url-bar {
	background   : $grey-2;
	border-bottom: 1px solid $grey-4;
	padding      : 6px;
}
.url-bar > input {
	display   : block;
	height    : 25px;
	width     : 100%;
	padding   : 3px;
	background: #fff;
	border    : 1px solid $grey-4;
}

.run-now {
	margin-left: 10px;
	padding    : 1px 6px 3px;
}

.run-or-live-reload {
	position  : absolute;
	right     : 0;
	top       : 8px;
	margin    : 10px 25px;
	text-align: right;
}



div.table-responsive {
  margin: 20px auto;
}

.saved-twiddles {
  width: 80%;
  margin: 0 auto;

  thead th {
    padding: 8px;
    border: 1px solid $grey-4;
  }

  tbody tr:hover {
    background-color: $pale-orange;
  }
}
*/